---
export const prerender = true;

import Page from '@layouts/Page.astro';
---

<Page title="404" description="The 404 page.">
  <h1>Quick and elegant, but not here.</h1>
  <br />
  <p>Return to <a href="/">home</a>.</p>
</Page>
