---
import { getCollection } from 'astro:content';
import { getLangFromUrl, useTranslatedPath } from '../i18n/utils';

const currentLang = getLangFromUrl(Astro.url);
const translatePath = useTranslatedPath(currentLang);

function getPageSlug(id: string): string {
  return id.replace(/^(en|pt-br)\//, '').replace(/\.(md|mdx)$/, '');
}

const examples = await getCollection('examples', ({ id }) => {
  if (currentLang === 'en') {
    return !id.startsWith('pt-br/');
  } else {
    return id.startsWith(`${currentLang}/`);
  }
});
---

<ul class="p-auto m-auto py-5">
  {
    examples
      .sort((a, b) => a.data.order - b.data.order)
      .map((example) => {
        const pureSlug = getPageSlug(example.id);
        const href = translatePath(`/${pureSlug}`);

        return (
          <li>
            &gt;
            <a href={href} data-astro-prefetch>
              {example.data.title}
            </a>
          </li>
        );
      })
  }
</ul>
