---
import GitHub from '@/assets/github.svg';
import Crystal from '@/assets/crystal-icon.svg';
---

<footer class="flex justify-center pt-5 mb-10">
  <p class="flex items-center gap-5 text-white text-sm">
    <GitHub width={30} height={30} fill="#fff" />
    <a href="https://github.com/">Source</a>
    <br>
    <Crystal width={30} height={30} fill="#fff" />
    <a href="https://crystal-lang.org">Crystal Website</a>
  </p>
</footer>
