---
export const prerender = true;

import Page from '@layouts/Page.astro';
---

<Page title="404" description="A página 404.">
  <h1>Rápido e elegante, mas não aqui.</h1>
  <br />
  <p>Volte para o<a href="/">início</a>.</p>
</Page>
